<div class="ui container main">
  <h1 class='header title'>ズバッと決断くん</h1>
    <p class='catchcopy'>
      貴公の決断<br>
      拙者が代わりに<br>
      下ぞうぞ
    </p>
  <div class='button lists'>
    <button type='button' onclick="location.href='#'" class="ui secondary button">
      <i class='icon user plus'></i>
      新規登録して決断！
    </button>
    <button type='button' onclick="location.href='#'" class="ui secondary button">
      <i class='icon sign in alternate'></i>
      ログインして決断！
    </button>
    <button type='button' onclick="location.href='#'" class="ui secondary button">
      登録せずに決断！
    </button>
  </div>
</div>


