<footer>
  <div class='ui footer'>
    <div class='ui container'>
      <div class='ui stackable inverted divided equal height stackable grid'>
        <div class='four wide column'>
          <h2 class='ui inverted header'>
            ズバッと決断くん
          </h2>
        </div>
        <div class='nine wide column'>
          <div class='ui inverted link list'>
            <a href='/contract' class='ui item'>
              利用規約
            </a>
            <a href='/policy' class='ui item'>
              プライバシーポリシー
            </a>
            <a href='/contact' class='ui item'>
              お問い合わせ
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>