<header>
  <div class='ui fixed inverted menu'>
    <div class='ui container'>
      <div class='left menu'>
        <a href='/' class='item'>
          <i class='icon home'></i>
          HOME
        </a>
        <a href='/about' class='item'>
          <i class='icon info'></i>
          概要
        </a>
        <a href='#' class='item'>
          <i class='icon users'></i>
          決断一覧
        </a>
      </div>
      <div class='right menu'>
        <a href='#' class='item'>
          <i class='icon user'></i>
          マイページ
        </a>
        <a href='#' class='item'>
          <i class='icon user plus'></i>
          新規登録
        </a>
        <a href='#' class='item'>
          <i class='icon sign in alternate'></i>
          ログイン
        </a>
      </div>
    </div>
  </div>
